<div class="container">
	<h3>ポイント履歴一覧画面</h3>

	<div class="row">
		<div class="col-xs-6">
			<table class="table table-hove">
				<thead>
					<tr>
						<th>用途</th>
						<th>ポイント</th>
						<th>更新日</th>
					</tr>
				</thead>

				<tbody>
					<% @point_history.each do |point_history| %>
					<tr>
						<td><% if point_history.project_id.nil? %>
							<p>購入</p>
							<% else %>
							<p><%= point_history.project.project_title %></p>
							<% end %>
						</td>
						<td><%= point_history.point.to_i.to_s(:delimited) %></td>
						<td><%= point_history.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>




