<div class="footer container width-full">
	<div class="footer__copyright">©︎Owners</div>
	<div class="footer__img hidden-xs"></div>
   <%= link_to 'admin?', new_admin_session_path,class: "footer__admin-link" %>
</div>