<li><%#= link_to "Owners",homes_about_path %></li>
<li><%#= link_to "プロジェクトを投稿",new_driver_registration_path %></li>
<li><%#= link_to "プロジェクトを支援",new_ad_client_registration_path %></li>
<li><%#= link_to "事業者 ログイン",new_driver_session_path %></li>
<li><%#= link_to "支援者 ログイン",new_ad_client_session_path %></li>
<li><%#= link_to "お問い合わせ",new_contact_path %></li>